* {
    margin: 0;
    padding: 0;
}

body {
    background: $title_color;
}

/* Contenedor General*/

#contenedor-general {
    margin: 0 auto;
    margin-top: -10em;
    background-color: #fff;
    position: relative;
    z-index: 99;
    border-radius: 0.5em;
    width: 95%;
    max-width: none;
    box-shadow: 0 1px 1em #777;
}

/*Separador*/
.separador_izquierdo i.fa {
        color: $subtitle_color;
        float: left;
        margin-top: -27px;
    }

    .separador_izquierdo hr {
        width: 50%;
        margin-left: 1em;
        border-color: $subtitle_color;
    }

.separador_derecho i.fa {
        color: $title_color;
        float: left;
        margin-top: -27px;
    }

    .separador_derecho hr {
        width: 50%;
        margin-left: 1em;
        border-color: $title_color;
    }


/*Navbar*/
.navbar-default {

    background: rgba(255, 255, 255, 0.4);
    .navbar-brand {
        color: $subtitle_color;
        font-weight: $negrita;
    }

    #menu-mobile ul li a {
        color: $subtitle_color;
        font-weight: $negrita;
    }
}

.navbar{
    font-family: $tipografia_title;
    border-bottom: $nothing;

    &__logo {
        font-family: 'Londrina Shadow', cursive;
        font-size: 2.5em;
    }
}

/*bienvenida*/

.bienvenida {
    height: 80vh;
    background-image: url("../img/yo.jpg");
    background-size: cover;
    filter: grayscale(70%);
    margin-top: -20px;
    text-align: center;
    padding-top:10em;
    font-family: 'Archivo Black', sans-serif;
    z-index: 1;
}

.typewrite {
    color: $title_color;
    text-decoration: none!important;
    font-size: 2em;
    font-weight: bold;
}

.typewrite:hover {
    color: $subtitle_color;
    font-weight: bold;
    font-size: 3em;
    transition: font-size 2s;
}

/*About*/

.aboutme {
    margin-top: 6em;

    &__foto {
        /*width: 40%;
        border: 4px solid $lila;
        */
        /*margin: 2em;
        width: 20em;
        margin-left: 8em;
        height: 25em;
        background-color: $title_color;
        -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
        -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
        border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
        background-position: right top;*/
        height: 30%;
        width: 30%;
        margin: 30px;
        margin-left: 10em;
    }

    &__title {
        color: $subtitle_color;
        font-family: $tipografia_title;
        font-weight: $negrita;
    }

    &__parrafo {
        font-family: $tipografia_contenido;
    }

    &__contain {
        padding: 4em 5em 4em 0;
    }
}

/* Habilidades */

.habilidades {
    height: 80vh;
    background-image: url("../img/paisaje.jpg");
    background-size: cover;
    background-attachment: fixed;

    &__title {
        color: $title_color;
        font-family: $tipografia_title;
        font-weight: $negrita;
        font-size: 2em;
    }

    &__subtitle {
        font-family: $tipografia_contenido;
        font-size: 1.3em;
        font-weight: bold;
    }

    &__skill {

        b {
            float: left;
            overflow: hidden;
            position: relative;
            height: 50px;
        }

        span1 {
            display: inline-block;
            color: $title_color;
            position: relative;
            white-space: nowrap;
            top: 0;
            left: 0;
            -webkit-animation: move 5s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-delay: 1s;
        }

        @keyframes move {
            0% { top: 0px; }
            20% { top: -50px; }
            40% { top: -100px; }
            60% { top: -150px; }
            80% { top: -200px; }
        }
    }

    &__single {
        font-size: 4em;
        margin-left: 8em;
    }
}

/* Conozco de */

.conozco {

    padding: 2em;

    &__title {
        font-family: $tipografia_title;
        color: $subtitle_color;
        font-size: 2.5em;
        font-weight: bold;
        padding: 1.5em;
    }

    &__parrafo {
        font-family: $tipografia_contenido;
        font-weight: bold;
        font-size: 1.3em;
        padding: 1em;
    }

    .single_herramienta {
        width: 50%;
    }
}

/* Portafolio */
#portafolio {
    background-color: rgba(64, 217, 189, 0.5);
    .img-hover {
        position: relative;
        padding: 2em;
    }

    .design_items {
        height: 30%;
    }

    img {
        position: relative;
        z-index: 1;
        border-radius: 4px;
        border-radius: 4px;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
        color: #fff;
        text-decoration: none;
        overflow: visible;
        transition: all 150ms linear;
    }

    .img-text {
        position: absolute;
        top: 40%;
        left: 0;
        z-index: -1;
        color: #fff;
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: $tipografia_contenido;
        font-weight: bold;
    }

    .img-text a {
        font-size: 1.5em;
        color: $subtitle_color;
        font-family: $tipografia_contenido;
        font-weight: bold;
    }

    .tag {
        text-transform: uppercase;
        background-color: #fff;
        border-radius: 1em;
        padding: 5px;
        font-size: 0.7em;
    }

    .img-hover:hover img {
        filter: brightness(50%);
    }

    .img-hover:hover .img-text {
        z-index: 9;
    }
}

/* Footer */

#contacto {
    background: url("../img/tablas2.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}

#map {
    height: 100%;
    width: 100%;
    min-width: 300px;
    min-height: 300px;
}