@media (max-width: 600px) {
    a.typewrite {
        font-size: 1.2em;
        color: #fff;
    }

    .bienvenida {
        height: 50vh;
        background-position: right;
    }

    .habilidades, .habilidades__title, .separador_derecho hr {
        color: #fff;
    }

    .habilidades__single {
        font-size: 2em;
        color: #fff;
    }

    #quehago {
        .carousel {
            height: 30vh;
        }
    }

}