@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
@import url("https://fonts.googleapis.com/css?family=Londrina+Shadow");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url("https://fonts.googleapis.com/css?family=Poiret+One|Raleway");
* {
  margin: 0;
  padding: 0; }

body {
  background: #235764;
  position: relative; }

h2 {
  padding: 1em;
  font-family: "Raleway", sans-serif;
  font-weight: bold; }

/* Contenedor General*/
#contenedor-general {
  margin: 0 auto;
  margin-top: -10em;
  background-color: #fff;
  position: relative;
  z-index: 99;
  border-radius: 0.5em;
  width: 95%;
  max-width: none;
  box-shadow: 0 1px 1em #777; }

/*Separador*/
.separador_izquierdo i.fa {
  color: #40D9BD;
  float: left;
  margin-top: -27px; }

.separador_izquierdo hr {
  width: 50%;
  margin-left: 1em;
  border-color: #40D9BD; }

.separador_derecho i.fa {
  color: #235764;
  float: left;
  margin-top: -27px; }

.separador_derecho hr {
  width: 50%;
  margin-left: 1em;
  border-color: #235764; }

/*Navbar*/
.navbar-default {
  background: white; }
  .navbar-default .navbar-brand {
    color: #40D9BD;
    font-weight: bold; }

.navbar {
  font-family: "Raleway", sans-serif;
  border-bottom: none;
  transition: all 1.2s;
  height: auto; }
  .navbar li {
    padding: 0;
    margin: 0; }
  .navbar__logo {
    font-family: 'Londrina Shadow', cursive;
    font-size: 2.5em; }
  .navbar__item {
    color: #40D9BD;
    font-weight: bold;
    font-size: 1.2em;
    height: auto; }
  .navbar__item:hover {
    background-color: rgba(0, 0, 0, 0.1) !important; }
  .navbar__item i {
    height: auto; }
  .navbar--transparent {
    background: transparent !important;
    box-shadow: none;
    transition: all 1.2s; }
  .navbar--transparent a {
    color: #235764 !important; }
  .navbar-toggle {
    background-color: rgba(255, 255, 255, 0.4); }
  .navbar .navbar-collapse.collapse.in li {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); }

/*bienvenida*/
.bienvenida {
  height: 90vh;
  background-image: url("../img/yo.jpg");
  background-size: cover;
  filter: grayscale(70%);
  margin-top: -20px;
  text-align: left;
  padding-top: 10em;
  padding-bottom: 10em;
  font-family: 'Share Tech Mono', monospace;
  z-index: 1;
  display: flex;
  align-items: center; }

.typewrite {
  color: #fff;
  text-decoration: none !important;
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 0 0 0.1em #000; }

.typewrite:hover {
  color: #fff;
  text-shadow: 0 0 1em #000;
  transition: all 2s; }

/*About*/
#acerca {
  background-color: #eee;
  border-radius: 0.5em 0.5em 0 0; }

.aboutme {
  margin-top: 6em; }
  .aboutme__foto {
    width: 90%;
    max-width: 40vh;
    margin: 1em auto;
    border-radius: 1em; }
  .aboutme__title {
    color: #40D9BD;
    font-family: "Raleway", sans-serif;
    font-weight: bold; }
  .aboutme__parrafo {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    text-align: justify; }

/* Conozco de */
.conozco__title {
  font-family: "Raleway", sans-serif;
  color: #40D9BD; }
.conozco__parrafo {
  font-family: "Poiret One", cursive;
  font-weight: bold;
  font-size: 1.3em;
  padding: 1em; }
.conozco .single_herramienta {
  padding: 5%;
  height: 40vh;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  transition: all 0.7s; }
  .conozco .single_herramienta img {
    height: 15vh;
    width: auto;
    max-width: 100%; }
  .conozco .single_herramienta:hover {
    transform: scale(1.05);
    filter: saturate(2);
    transition: all 0.7s; }

/* Portafolio */
#portafolio {
  background-color: rgba(64, 217, 189, 0.5); }
  #portafolio .img-hover {
    position: relative;
    padding: 2em; }
  #portafolio .design_items {
    height: 30%; }
  #portafolio img {
    position: relative;
    z-index: 1;
    border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-decoration: none;
    overflow: visible;
    transition: all 150ms linear; }
  #portafolio .img-text {
    position: absolute;
    top: 40%;
    left: 0;
    z-index: -1;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Poiret One", cursive;
    font-weight: bold; }
  #portafolio .img-text a {
    font-size: 1.5em;
    color: #40D9BD;
    font-family: "Poiret One", cursive;
    font-weight: bold; }
  #portafolio .tag {
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 1em;
    padding: 5px;
    font-size: 0.7em; }
  #portafolio .img-hover:hover img {
    filter: brightness(50%); }
  #portafolio .img-hover:hover .img-text {
    z-index: 9; }
  #portafolio .img-hover:hover a {
    text-decoration: none; }

/* Que hago */
#quehago {
  padding-bottom: 3em; }
  #quehago .carousel {
    border-radius: 0.5em;
    height: 60vh; }
    #quehago .carousel .carousel-caption {
      position: absolute;
      bottom: auto;
      top: 0 !important; }
  #quehago img {
    width: 100%;
    filter: saturate(1.5); }

/* Footer section*/
.contact {
  position: relative;
  height: 60vh; }
  .contact #map {
    height: 60vh;
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    repeat: no-repeat;
    position: absolute;
    border-radius: 0 0 1em 1em; }
  .contact__icon, .contact__parrafo {
    font-family: "Raleway", sans-serif;
    color: #235764;
    text-align: center;
    font-size: 2.2em;
    font-weight: bold; }
  .contact__hablemos {
    color: #fff;
    height: 40vh;
    padding-top: 1em;
    position: relative; }
  .contact__details {
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 2em; }
  .contact__title {
    font-family: "Poiret One", cursive;
    color: #40D9BD;
    font-weight: bold; }

.footer {
  color: #fff;
  font-family: "Poiret One", cursive;
  background: #235764;
  height: 5vh;
  padding: 2em;
  position: relative; }

/* Animacion */
#acerca, #contacto, #skills, #portafolio, #quehago {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

@media (max-width: 600px) {
  a.typewrite {
    font-size: 1.2em;
    color: #fff; }

  .bienvenida {
    height: 50vh;
    background-position: right; }

  .habilidades, .habilidades__title, .separador_derecho hr {
    color: #fff; }

  .habilidades__single {
    font-size: 2em;
    color: #fff; }

  #quehago .carousel {
    height: 30vh; }

  .conozco__parrafo {
    font-size: 0.8em;
    padding: 0.1em; }
  .conozco .single_herramienta {
    height: 12vh; }
    .conozco .single_herramienta img {
      height: 5vh; } }

/*# sourceMappingURL=main.css.map */
