@import url("https://fonts.googleapis.com/css?family=Londrina+Shadow");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url("https://fonts.googleapis.com/css?family=Poiret+One|Raleway");
* {
  margin: 0;
  padding: 0; }

body {
  background: #235764;
  position: relative; }

h2 {
  padding: 1em;
  font-family: "Raleway", sans-serif; }

/* Contenedor General*/
#contenedor-general {
  margin: 0 auto;
  margin-top: -10em;
  background-color: #fff;
  position: relative;
  z-index: 99;
  border-radius: 0.5em;
  width: 95%;
  max-width: none;
  box-shadow: 0 1px 1em #777; }

/*Separador*/
.separador_izquierdo i.fa {
  color: #40D9BD;
  float: left;
  margin-top: -27px; }

.separador_izquierdo hr {
  width: 50%;
  margin-left: 1em;
  border-color: #40D9BD; }

.separador_derecho i.fa {
  color: #235764;
  float: left;
  margin-top: -27px; }

.separador_derecho hr {
  width: 50%;
  margin-left: 1em;
  border-color: #235764; }

/*Navbar*/
.navbar-default {
  background: white; }
  .navbar-default .navbar-brand {
    color: #40D9BD;
    font-weight: bold; }
  .navbar-default #menu-mobile ul li a {
    color: #40D9BD;
    font-weight: bold;
    font-size: 1.2em; }

.navbar {
  font-family: "Raleway", sans-serif;
  border-bottom: none; }
  .navbar__logo {
    font-family: 'Londrina Shadow', cursive;
    font-size: 2.5em; }
  .navbar--transparent {
    background: transparent !important;
    box-shadow: none;
    transition: 1s; }
  .navbar--transparent a {
    color: #235764 !important; }

/*bienvenida*/
.bienvenida {
  height: 90vh;
  background-image: url("../img/yo.jpg");
  background-size: cover;
  filter: grayscale(70%);
  margin-top: -20px;
  text-align: center;
  padding-top: 10em;
  font-family: 'Archivo Black', sans-serif;
  z-index: 1; }

.typewrite {
  color: #235764;
  text-decoration: none !important;
  font-size: 2em;
  font-weight: bold; }

.typewrite:hover {
  color: #40D9BD;
  font-weight: bold;
  font-size: 3em;
  transition: font-size 2s; }

/*About*/
.aboutme {
  margin-top: 6em; }
  .aboutme__foto {
    /*width: 40%;
    border: 4px solid $lila;
    */
    /*margin: 2em;
    width: 20em;
    margin-left: 8em;
    height: 25em;
    background-color: $title_color;
    -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background-position: right top;*/
    height: 30%;
    width: 30%;
    margin: 30px;
    margin-left: 10em; }
  .aboutme__title {
    color: #40D9BD;
    font-family: "Raleway", sans-serif;
    font-weight: bold; }
  .aboutme__parrafo {
    font-family: "Poiret One", cursive;
    font-weight: bold;
    font-size: 1.2em;
    text-align: justify; }
  .aboutme__contain {
    padding: 4em 5em 4em 0; }

/* Habilidades */
.habilidades {
  height: 80vh;
  background-image: url("../img/paisaje.jpg");
  background-size: cover;
  background-attachment: fixed; }
  .habilidades__title {
    color: #235764;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 2em; }
  .habilidades__subtitle {
    font-family: "Poiret One", cursive;
    font-size: 1.3em;
    font-weight: bold; }
  .habilidades__skill b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px; }
  .habilidades__skill span1 {
    display: inline-block;
    color: #235764;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    -webkit-animation: move 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 1s; }
@keyframes move {
  0% {
    top: 0px; }
  20% {
    top: -50px; }
  40% {
    top: -100px; }
  60% {
    top: -150px; }
  80% {
    top: -200px; } }
  .habilidades__single {
    font-size: 4em;
    margin-left: 8em; }

/* Conozco de */
.conozco {
  padding: 2em; }
  .conozco__title {
    font-family: "Raleway", sans-serif;
    color: #40D9BD;
    font-size: 2.5em;
    font-weight: bold;
    padding: 1.5em; }
  .conozco__parrafo {
    font-family: "Poiret One", cursive;
    font-weight: bold;
    font-size: 1.3em;
    padding: 1em; }
  .conozco .single_herramienta {
    width: 50%; }

/* Portafolio */
#portafolio {
  background-color: rgba(64, 217, 189, 0.5); }
  #portafolio .img-hover {
    position: relative;
    padding: 2em; }
  #portafolio .design_items {
    height: 30%; }
  #portafolio img {
    position: relative;
    z-index: 1;
    border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-decoration: none;
    overflow: visible;
    transition: all 150ms linear; }
  #portafolio .img-text {
    position: absolute;
    top: 40%;
    left: 0;
    z-index: -1;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Poiret One", cursive;
    font-weight: bold; }
  #portafolio .img-text a {
    font-size: 1.5em;
    color: #40D9BD;
    font-family: "Poiret One", cursive;
    font-weight: bold; }
  #portafolio .tag {
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 1em;
    padding: 5px;
    font-size: 0.7em; }
  #portafolio .img-hover:hover img {
    filter: brightness(50%); }
  #portafolio .img-hover:hover .img-text {
    z-index: 9; }

/* Que hago */
.quehago {
  height: 90vh; }
  .quehago .carousel {
    height: 70vh; }
    .quehago .carousel .carousel-caption {
      position: absolute;
      bottom: auto;
      top: 0 !important; }
  .quehago img {
    width: 100%;
    filter: saturate(1.5); }

/* Footer */
.contact {
  background: url("../img/tablas2.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  background: #235764; }
  .contact #map {
    height: 40vh;
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    repeat: no-repeat; }
  .contact__icon, .contact__parrafo {
    font-family: "Raleway", sans-serif;
    color: #235764;
    text-align: center;
    font-size: 2.2em;
    font-weight: bold; }
  .contact__hablemos {
    color: #fff;
    height: 40vh; }
  .contact__credits {
    color: #fff;
    font-family: "Poiret One", cursive;
    background: #235764;
    height: 10vh;
    padding: 2em; }

/*# sourceMappingURL=style.css.map */
